.a{
  &-logo{
    @include sprite;

    margin : 0 auto 156px;
    width  : 279px;
    height : 96px;
    display: block;
    position: relative;
    z-index: 3;
    a{
        @extend .a-hidetext;
        width  : 279px;
        height : 96px;
        cursor: pointer;
        display: block;
        text-align: center;
        color: #fff;
    }
  }

  &-menu {
    position : absolute;
    top      : 3px;
    right    : 0;
    width    : 285px;
    height   : 46px;
    z-index: 3;
  }

  &-weather{
    width    : 165px;
    height   : 95px;
    font-size: 13px;

    &:before{
        @include sprite;
        display             : block;
        width               : 58px;
        height              : 56px;
        content             : "";
        margin-bottom       : 24px;
        background-position : -280px -62px;
    }
  }

  &-banner{
    padding-top         : 30px;
    background-repeat   : no-repeat;
    background-position : 50% 0%;
    background-attachment: fixed;
    background-size     : cover;
    height              : 619px;
    color               : #ffffff;

    @include m(nofixed) {
        background-attachment: initial;
        background-position : 50% 50%;
    }

    h2 {
        margin:0 0 42px;
    }

    @include e('title'){
        @include montserrat-bold;
        font-size      : 54px;
        text-align     : center;
        text-transform : uppercase;
        margin-bottom  : 24px;
    }

    @include e('resume'){
        text-align    : center;
        font-size     : 18px;
        margin        : 0 auto 24px;
        max-width     : 640px;
    }

    @include e('stars') {
        margin : 0 auto 0;
        max-width: 150px;
        font-size: 26px;
        text-align: center;
    }
  }
}