.a{
	&-bo{
    max-width: 650px;

    @include m('center') {
        margin-left  : auto;
        margin-right : auto;
    }

    @include m('collum-2') {
        ul{
            margin: 0 0 6px;
            list-style:none;
            padding-left: 0;
            font-size: 14px;
        }
    }

    &-content {
      @include m('medium'){
        max-width:530px;
      }
    }

    p{
      margin: 0 0 20px;
    }


    &-events{
        margin-bottom: 40px;

        &:first-child{
            margin-top: 20px;
        }

        @include e('icon') {
            margin-top: 9px;
            margin-bottom: 27px;
        }

        @include e('title') {
            @include lato-blackbold;
            margin:0 0 27px;
            font-size:18px;
            line-height: 20px;

             @include m('small') {
                font-size:14px;
                    line-height: 18px;
             }
        }

        @include e('content') {
            margin-bottom: 40px;

        }

        @include e('list') {
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 40px;
            ul{
                list-style: none;
                margin: 0px;
                padding: 0px
            }
            li{
                margin-bottom: 8px;
            }
        }
    }

    &-resume-events {
        @include lato-blackbold;
        font-size: 14px;
        line-height: 18px;
    }

    &-highlights{
			padding-left: 26px;
            position: relative;
            margin-bottom: 40px;

      @include  m("title"){
        @include lato-blackbold;
            font-size: 14px;
            padding-left: 16px;
            margin-bottom: 10px;
            h2{
                font-size: 14px;
                line-height: 25px;
                margin-right: 0;
            }
      }
      &:before{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 5px;
        background-color: #202020;
        content: '';
      }
		}
	}

  &-aside{
    max-width: 277px;


    @include e('header'){
      @include lato-bold;
      padding: 15px 15px 25px;
      background-color: #202020;
      color: #ffffff;
      font-size: 12px;

    }

    @include e('content') {
      padding: 35px 25px;
      background-color: $gray;
      color: #191919;
      overflow: hidden;
    }

    @include e('list') {
      list-style : none;
      padding    : 0;
      margin     : 0 0 30px;

      li{
        margin: 0 0 10px;
        font-size   : 14px;
        line-height : 16px;

        &:first-child{
          @include lato-bold;

          color:$dark;
          text-transform: uppercase;
        }
      }
    }

  }
}