.a{
    &-btn {
        box-sizing          : border-box;
        display             : inline-block;
        padding             : 0 1.1em;
        margin-bottom       : 0;
        font-size           : 16px;
        font-weight         : 400;
        line-height         : 36px;
        height              : 42px;
        text-align          : center;
        white-space         : nowrap;
        vertical-align      : middle;
        -ms-touch-action    : manipulation;
        touch-action        : manipulation;
        cursor              : pointer;
        -webkit-user-select : none;
        -moz-user-select    : none;
        -ms-user-select     : none;
        user-select         : none;
        border              : 1px solid transparent;
        cursor              : pointer;
        text-decoration     : none;
        position            : relative;
        min-width           : 128px;
        color               : #ffffff;

        & > .fa.fa-chevron-right{
            margin-left: 3px;
            position: relative;
            &:before{
                position: relative;
                top: 1px;
            }
        }

        @include m('transparent'){
            background-color : transparent;
            border           : 1px solid #ffffff;
            height           : 42px;
            width            : 126px;

        }
        @include m('menu') {
            background-color : $dark;
            width            : 138px;
            border           : 2px solid $dark;
            height           : 42px;
            position         : relative;
            &:hover{
                 border           : 2px solid #a0a0a0;
                background-color : #a0a0a0;
            }
             @include m('selected') {
                border           : 2px solid #a0a0a0;
                background-color : #a0a0a0;
                 &:after{
                  content:"\f00d";
                  position: absolute;
                  top: 10px;
                  right: 10px;
                  display: block;
                  font: normal normal normal 14px/1 FontAwesome;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                }
            }
        }

        @include m('reserva') {
            background-color : $dark;
            width            : 138px;
            border           : 2px solid $dark;
            height           : 42px;
            position         : absolute;
            top              : 185px;
            right            : 12px;
        }

        @include m('facebook') {
            background-color : #8c8c8c;
            width            : auto;
            padding-left     : 10px;
            padding-right    : 10px;
            position         : absolute;
            top: -60px;
            right: 0;
        }

        @include m('close-reservar') {
            @include lato-regular;
            float: right;
            font-size: 19px;
            color: #ffffff;
            margin-right: 33px;
            height: 28px;
            width: 32px;
            overflow: hidden;
            min-width: initial;
            margin-top: 9px;
            background-color: transparent;
            cursor: pointer;
        }

        @include m('darkness') {
           background-color : #191919;
           width            : 180px;
        }

        @include m('dark') {
           background-color : #191919;
           color            :#ffffff;
           width            : auto;
           padding-left     : 10px;
           padding-right    : 10px;
        }
        @include m('submit') {
           background-color : #000000;
           width            : 135px;
           height           : 50px;

          @include m(modal){
            height: 40px;
            width: auto;
           }
        }


        @include m('light') {
           background-color : #ffffff;
           color:#000000;
        }

        @include m('round') {
            @include css3-prefix('border-radius' , 42px);
        }

        @include m('blue') {
           color:$blue;
        }

        @include m('green') {
           color:$green;
        }

        @include m('yellow') {
           color:$yellow;
        }



        @include m('reservation') {
            background-color : $dark;
            width            : 134px;
            border           : 2px solid #ffffff;
            height           : 42px;
            margin-left      : 9px;
            cursor           : pointer;

            &:hover{
                 border           : 2px solid #a0a0a0;
                background-color : #a0a0a0;
            }
             @include m('selected') {
                border           : 2px solid #a0a0a0;
                background-color : #a0a0a0;
            }

        }

    }
}