.a{
    &-field{
        padding-left: 27px;

        @include m(modal) {
            padding-left: 0px;
            min-width: 500px;
        }

        @include m(nopd) {
            padding-left: 0px;
        }

        &-success{
            height: 25px;
            font-size: 12px;
            color:green;
            line-height: 23px;
        }

        &-form{
            width:100%;
            max-width: 723px;

            @include m(modal) {
                padding: 0px 20px 15px;
            }
        }

        &__label{
            font-size: 15px;
            color: #000000;
            display: block;
            margin-bottom: 8px;

            @include m(modal) {
                font-size: 12px;
                line-height: 12px;
                margin-bottom: 3px;
            }

            @include m(reserva) {
                color:#ffffff;
                margin-bottom: 0px;
            }

            @include m(file) {
                width            : 25%;
                float            : left;
                height : 33px;
                border: 1px solid #000000;
                background-color : #000000;
                cursor: pointer;
                color: #ffffff;
                text-align: center;
                line-height: 31px;
                font-size: 15px;
            }
        }
    }

    &-input{
        &-textarea{
            height: 123px;
            width:100%;
            max-width: 723px;
            box-sizing          : border-box;
            padding: 0px 26px 0;
            border: 1px solid #000000;

            @include m(modal) {
                height: 65px;
                font-size: 13px;
                padding: 5px 8px;
            }
        }

        &-fake{
            width  : 75%;
            float  : left;
            height : 33px;
            border: 1px solid #000000;
            font-size: 13px;
            padding: 5px 8px;
        }

        &-file{
                position: absolute;
                left: -9999px;
                visibility: hidden;
                display: block;
        }

        &-large{

        }
        &-medium{

        }

        &-smal{

        }

        &-error{
            height: 30px;
            font-size: 12px;
            color:#B50404;

            @include m(modal) {
                height: 22px;
                font-size: 11px;
                line-height: 15px;
            }
        }



        &-text,
        &-password,
        &-email{
            height: 48px;
            width:100%;
            max-width: 723px;
            background-color: transparent;
            box-sizing          : border-box;
            display             : inline-block;
            padding: 0px 26px 0;
            border: 1px solid #000000;
             color: #000000;

            &::-webkit-input-placeholder { /* Safari, Chrome and Opera */
                color: #d3d3d3;
            }

            &:-moz-placeholder { /* Firefox 18- */
              color: #d3d3d3;
            }

            &::-moz-placeholder { /* Firefox 19+ */
              color: #d3d3d3;
            }

            &:-ms-input-placeholder { /* IE 10+ */
              color: #d3d3d3;
            }

            &::-ms-input-placeholder { /* Edge */
              color: #d3d3d3;
            }

            &:placeholder-shown { /* Standard one last! */
              color: #d3d3d3;
            }

            &-modal{
                &::-webkit-input-placeholder { /* Safari, Chrome and Opera */

                    font-size: 13px;
                }

                &:-moz-placeholder { /* Firefox 18- */

                  font-size: 13px;
                }

                &::-moz-placeholder { /* Firefox 19+ */

                  font-size: 13px;
                }

                &:-ms-input-placeholder { /* IE 10+ */

                  font-size: 13px;
                }

                &::-ms-input-placeholder { /* Edge */

                  font-size: 13px;
                }

                &:placeholder-shown { /* Standard one last! */

                  font-size: 13px;
                }
            }

            &-captcha{
                  &::-webkit-input-placeholder { /* Safari, Chrome and Opera */
                    color: #000000;
                }

                &:-moz-placeholder { /* Firefox 18- */
                  color: #000000;
                }

                &::-moz-placeholder { /* Firefox 19+ */
                  color: #000000;
                }

                &:-ms-input-placeholder { /* IE 10+ */
                  color: #000000;
                }

                &::-ms-input-placeholder { /* Edge */
                  color: #000000;
                }

                &:placeholder-shown { /* Standard one last! */
                  color: #000000;
                }
            }

            &--date-reserva,
            &--date-newsletter{
                 &::-webkit-input-placeholder { /* Safari, Chrome and Opera */
                color: #ffffff;
                }

                &:-moz-placeholder { /* Firefox 18- */
                  color: #ffffff;
                }

                &::-moz-placeholder { /* Firefox 19+ */
                  color: #ffffff;
                }

                &:-ms-input-placeholder { /* IE 10+ */
                  color: #ffffff;
                }

                &::-ms-input-placeholder { /* Edge */
                  color: #ffffff;
                }

                &:placeholder-shown { /* Standard one last! */
                  color: #ffffff;
                }
            }
            @include m(newsletter) {
                float:left;
                color: #ffffff;
                border: 1px solid #ffffff;
                height: 67px;
                width:210px;
                padding: 3px 26px 0;
            }

            @include m(light) {
              padding-left: 10px;
              border:1px solid #ffffff;
              color:#ffffff;
            }

            @include m(date-reserva) {
                background-color:transparent;
                border : none;
                width: 83%;
                height: 43px;
                color:#ffffff;
                padding-left: 13px;
            }

            @include m(date-reserva-content) {
                border : 1px solid #ffffff;
            }

            @include m(modal) {
                height : 33px;
                padding: 0 8px;
                font-size: 13px;
             }
            @include m(captcha) {
                width: 501px;
            }


        }

        &-submit{
            height: 67px;
            width:122px;
            background-color: transparent;;
            box-sizing          : border-box;
            display             : inline-block;
            padding: 18px 0;
            text-align: center;

            @include m(newsletter){
                float:left;
                color: #ffffff;
                border: 1px solid #ffffff;
                border-left:none;
            }
        }
    }

    &-select{
        height: 36px;
        width: 100%
        &-large{

        }
        &-medium{

        }

        &-smal{

        }
    }

    &-checkbox{

    }

    &-radio{

    }

    &-captcha{
        @include e('text'){
            width:195px ;
            height: 48px;
            text-align: center;
            line-height: 48px;
            border: 1px solid $dark;
        }
    }
}
