.a{
    &-field__label{

    }

    &-input{
        &-textarea{

        }

        &-large{

        }
        &-medium{

        }

        &-smal{

        }

        &-error{

        }

        &-text,
        &-password,
        &-email{
           height: 67px;
            width:210px;
            background-color: transparent;
            box-sizing          : border-box;
            display             : inline-block;
            padding: 18px 26px;

            &::-webkit-input-placeholder { /* Safari, Chrome and Opera */
                color: #ffffff;
            }

                &:-moz-placeholder { /* Firefox 18- */
                  color: #ffffff;
                }

                &::-moz-placeholder { /* Firefox 19+ */
                  color: #ffffff;
                }

                &:-ms-input-placeholder { /* IE 10+ */
                  color: #ffffff;
                }

                &::-ms-input-placeholder { /* Edge */
                  color: #ffffff;
                }

                &:placeholder-shown { /* Standard one last! */
                  color: #ffffff;
                }
            @include m(newsletter){
                float:left;
                color: #ffffff;
                border: 1px solid #ffffff;
            }
        }

        &-submit{
            height: 67px;
            width:122px;
            background-color: transparent;;
            box-sizing          : border-box;
            display             : inline-block;
            padding: 18px 0;
            text-align: center;

            @include m(newsletter){
                float:left;
                color: #ffffff;
                border: 1px solid #ffffff;
                 border-left:none;
            }
        }
    }

    &-select{
        &-large{

        }
        &-medium{

        }

        &-smal{

        }
    }

    &-checkbox{

    }

    &-radio{

    }
}
