.a{
  &-container{
    @include outer-container(1170px);
     box-sizing:border-box;
    padding-left  : 15px;
    padding-right : 15px;
  }

  &-row{
    padding-left  : -15px;
    padding-right : -15px;
  }
}


@each $col , $number in $grid{
    .a-#{$col} {
      @include span-columns($number);
      padding-left  : 15px;
      padding-right : 15px;
    }
}

@media  (max-width: 767px){
    @each $col , $number in $grid{
        .a-#{$col}-sd {
            @include span-columns($number)
        }
    }

    .show-mobile{
        display: block;
    }

    .hide-mobile{
       display: none;
    }
}