.a{
  &-container{
    @include outer-container(1170px);
    box-sizing    : border-box;
    position      : relative;
    padding-left  : 15px;
    padding-right : 15px;
  }

  &-row{

  }
}


@each $col , $number in $grid{
    .a-#{$col} {
      @include span-columns($number);

    }
}

@media  (max-width: 767px){
    @each $col , $number in $grid{
        .a-#{$col}-sd {
            @include span-columns($number)
        }
    }

    .show-mobile{
        display: block;
    }

    .hide-mobile{
       display: none;
    }
}