h1{
  @include montserrat-bold;
  font-size     : 50px;
  margin        : 0 0 40px;
  line-height   : 60px;

}

h3{
  @include lato-bold;
  font-size: 30px;
  margin: 6px  0;
}



h5{
  @include lato-bold;
  font-size: 20px;
  line-height: 25px;
  margin: 0px  0 5px;
}
