h1{
  @include montserrat-bold;
  font-size     : 55px;
  margin        : 0 0 40px;
  line-height   : 50px;

}

h3{
  @include lato-bold;
  font-size: 30px;
  margin: 6px  0;
}

h5{
  @include lato-regular;
  font-size: 20px;
  line-height: 20px;
  margin: 0px  0 5px;
}
