@media (min-width: 992px) and (max-width: 1199px){

	.a-menu{
		right:15px;
	}

	.a-panel-promo__bo li{
		min-width: 191px;
	}

	.a-sliedshow .slick-next{
		   right: 1%;
	}

	.a-sliedshow .slick-prev{
		   left: 1%;
	}

	.a{
		&-panel-promo{
			margin-bottom: 30px;
			@include e('header') {

		    padding-top: 25px;

				& > img{
					display: none;
				}

				@include e('text') {
					position:static;
					height: auto;
				}

			}
			@include e('content') {


			}
			@include e('highlight') {

			}

		}

		&-input-email{
			@include m('newsletter') {
				width: 183px;
			}
		}

		&-input-text{
			@include m('captcha') {
				width: 494px;
			}
		}

		&-aside{
			.a-btn--light{
				display: block;
				max-width: 150px;
			}
		}


		&-menu-main{
			@include m('footer') {
				ul.menu > li:last-child {
					clear: both;
					margin: 20px 0 0;
				}
			}
		}

		&-tabs{
			@include e('content') {
				.a-panel-promo__header__text{
					position: absolute;
				}
			}
		}
	}



	.a-panel-promo--experience .a-panel-promo__highlight:before{
		width: 0;
		height: 0;
		border-right: 12px solid #ffb300;
		border-left: none;
		right: auto;
    	left: -12px;
	}



}