.a{
    &-tabs{
        @include e(links) {
            height: 56px;
            margin-bottom: 20px;
        }

        @include e(link) {
            color:#ffffff;
            text-transform: uppercase;
            padding-right: 50px;
            padding-left : 50px;
            font-size    : 14px;
            line-height  : 50px;
            position     : relative;
            display      : inline-block;
            text-decoration: none;
            cursor: pointer;
            outline: 0;


            &:focus{
             outline: 0;
            }

            &:after{
                content:' ';
                font-size :12px;
                background-color: #ffffff;
                width: 1px;
                height:11px;
                left: 0;
                top: 21px;
                position: absolute;
            }

            &:hover{
                @include lato-blackbold;
                text-decoration: underline;
                padding-right: 48px;


            }

            @include m(selected) {
              @include lato-blackbold;
              text-decoration: underline;


            }

            &:first-child{
                padding-left : 0px;
                &:hover{
                    padding-right: 49px;
                }

                &:after{
                   display: none;
                }
            }
        }

        @include e(content) {
            color: #ffffff;
            p{
                margin-top: 0;
            }


            @include m(selected) {
                display: block;
                 &.a-tab-visibility{
                    opacity: 1;
                    visibility: visible;
              }
            }

            .a-bo-highlights{
                margin-left: auto;
                margin-right: auto;
                max-width: 570px;
            }

            .a-panel-promo__header__text--bkg{
                max-height: 0%;
                cursor: pointer;
                overflow: hidden;
                transition: all 0.5s linear;
            }

            .a-icon{
                position: absolute;
                width: 38px;
                height: 38px;
                top : 50%;
                left: 50%;
                margin-top: -19px;
                margin-left: -19px;
                font-size: 38px;
                color:#ffffff;
                cursor: pointer;
                display: block;
            }

            .a-panel-promo:hover {
                .a-panel-promo__header__text--bkg{
                        max-height: 100%;
                }
                .a-icon{
                    display: none;
                }
            }
        }
    }

    &-slick-gallery{
        max-width: 1010px;
        margin-top: 100px;

        @include e(item) {
            float: left;
            cursor: pointer;
        }
    }
}