


$screen-xs-max :767px;
//COLORS

$dark      :#202020;
$highlight :#000000;
$blue      :#607d8b;
$green     :#47b7a2;
$yellow    :#ffb300;
$gray      :#f3f3f3;
//FONTS
$Lato        : 'Lato', sans-serif;
$Montserrat  : 'Montserrat', sans-serif;



//BUTTONS
$btn-colores: (
    default  : $dark,
    lighter  : #ffffff,
    invert   : transperent,
    dark     : $dark ,
    darkness : $dark ,
);

$btn-border: (
    default  : $dark,
    lighter  : #ffffff,
    invert   : #ffffff,
    dark     : $dark,
    darkness : $dark ,
);

$btn-text: (
    default  : #ffffff,
    lighter  : #000000,
    invert   : #ffffff,
    dark     : #ffffff,
    darkness : #ffffff,
    link     :$dark
);

//SECTIONS
$section-bkg: (
    ligth: ('color':$dark,  "background-color":#ffffff),
    dark: ('color': #ffffff,  "background-color":$dark)
);

//GRID
$grid:(
    col-1  : 1,
    col-2  : 2,
    col-3  : 3,
    col-4  : 4,
    col-5  : 5,
    col-6  : 6,
    col-7  : 7,
    col-8  : 8,
    col-9  : 9,
    col-10 : 10,
    col-11 : 11,
    col-12 : 12,
);




body{
    @include lato-regular;
    font-size               : 16px;
    color                   : $dark;
    background-color        : #ffffff;
    line-height             : 25px;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}